# Dependências
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Arquivos de build
dist
build

# Arquivos de cache
.cache
.npm
.yarn

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/editor
.idea
.vscode
*.swp
*.swo

# Arquivos de teste
coverage
.nyc_output

# Arquivos de log
logs
*.log

# Arquivos temporários
tmp
temp

# Arquivos de git
.git
.gitignore
.github